{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main_general.css' %}">
<link rel="stylesheet" href="{% static 'css/main_list.css' %}">
<title>OpTeams - Home</title>
{% endblock %}

{% block body %}
<h1>Home</h1><br>
<div class="display-area">
    <!-- View selection area -->
    <ul class="header">
        <li class="list">
            <a href="/">
                <i class="fas fa-list"></i>
                <p>list view<p>
            </a>
        </li>
        <li class="grid">
            <a href="/main_grid">
                <i class="fas fa-th-large"></i>
                <p>grid view</p>
            </a>
        </li>
    </ul>

    <ul class="cards">
        {% for a in assignments %}
        <!-- Assignment list card -->
        <li>
            <a href="{{ a.url }}">
                <div class="colored-shape">
                    <span class="short">{{ a.channel.get_short_name }}</span>
                </div>
                <h1 class="title">{{ a.title }}</h1>
                <span>
                    <h1>{{ a.subtitle }}</h1>
                </span>
                <h2>{{ a.channel.subject_name }}</h2>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}