<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

{% load static %}
<link rel ="stylesheet" href = "{% static 'css/main_general.css' %}">
<link rel ="stylesheet" href = "css/main_grid.css"/>

<title>Grid View</title>
</head>
<body>
<div class="display-area">
<ul class="header">
<li class = "list"> <a href="/main_list">
<i class="fas fa-list"></i>
<p>list view<p> 
</a>
</li>
<li class = "grid"> <a href="/main_grid">
<i class="fas fa-th-large"></i>
<p> grid view </p>
</a>
</li>
</div>
</div>
</body>
</html>

