{% extends 'base.html' %}
{% load static %}
{% load filter_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main_general.css' %}">
<link rel="stylesheet" href="{% static 'css/main_list.css' %}">
<title>OpTeams - Notifications</title>
{% endblock %}

{% block body %}

<h1> Notifications </h1>
<div class="display-area">
    <ul class="cards">
        {% for a in activities %}
        <!-- Assignment list card -->
        <li>
            <a href="">
                <div class="colored-shape">

                </div>
                <h1 class="title">{{ a.object|split:";"|first  }}</h1>
                <span>
                    <h1>{{ a.object|split:";"|last  }}</h1>
                </span>
                <h2>{{ a.actor}}</h2>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}