.display-area .header .list{
background-color: #464775;
}

.display-area .header .list a i, .display-area .header .list a p{
color: #fff;
}

.display-area .cards {
margin-top: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
list-style: none;
}

.display-area .cards li {
  border-radius: 15px;
  background-color: #fff;
  margin: 3px;
padding: 15px;
  width: 90%;
  height: 50px;
line-spacing: 12px;
}

.display-area .cards li a{
text-decoration: none;
}

.display-area .cards li a .colored-shape {
float: left;
border-radius: 10px;
background-color: #4ab8a7;
width: 50px;
height: 50px;
margin-right: 10px;
}

.display-area .cards li a h1 {
font-size: 18px;
color: #333;
}

.display-area .cards li a h2 {
font-size: 16px;
color: #aaa;
}

.display-area .cards li a .title{
font-weight: bold;
}

.display-area .cards li a span{
float: right;
}

.display-area .cards li:hover{
box-shadow: 0px 10px 10px #aaa;
}